<% layout("layouts/boilerplate")%>
<script>
    const mapToken = '<%= process.env.MAP_TOKEN %>';
    const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
    const listing = <%- JSON.stringify(listing) %>;
</script>
<body>
    <h2 class="addtopic mt-3">Editing The Post</h2>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="row"></div>
       <div class="col-8 offset-2">
        <form method="post" action="/listings">
        <div class="mb-2">
        <Label for="title" class="form-label">Title</Label>
         <input name="listing[title]" type="text" value="<%=listing.title%>" class="form-control">
        </div>
    
        <div class="mb-2">
        <Label for="discription" class="form-label">Description</Label>
         <input name="listing[description]" value="<%=listing.description%>" type="text" class="form-control">
        </div>

        <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" id="image" name="listing[image]" class="form-control" accept="image/*">
    </div>
        
        <div class="row">
        <div class="mb-2 col-md-4">
        <Label for="price" class="form-label">Price</Label>
        <input name="listing[price]" value="<%=listing.price%>" type="text"class="form-control">
        </div>
        <div class="mb-2 col-md-8">
        <Label for="country" class="form-label">Country</Label>
        <input name="listing[country]"value="<%=listing.country%>" type="text"class="form-control">
        </div>
        </div>

        <div class="mb-2">
        <Label for="location" class="form-label">Location</Label>
        <input name="listing[location]" value="<%=listing.location%>"type="text" class="form-control">
        </div>
        
        <div class="addbutton"><button class="editbtn mt-4">Edit</button></div>
        <br><br>
    </form>
    </div>
    </div>
    <script src="/js/map.js">
	
</script>
</body>
