<% layout("layouts/boilerplate")%>
<body>
    <h3>listing Details</h3>
    <div class="conatinershow">
        <div class="contimage">
            <img src="<%= listing.image.url%>" alt="no image">
        </div>
        <div class="conttext">
            <ul>
                <li><b>Title</b><br><%= listing.title %></li>
                <li><b>Description</b><br><%= listing.description %></li>
                <li><b>Price</b><br>&#x20B9;<%= listing.price.toLocaleString("en-IN") %></li>
                <li><b>Location</b><br><%= listing.location %></li>
                <li><b>Country</b><br><%= listing.country %></li>
            </ul>
            <br><br>
            <div class="showbtn">
                <a href="/listings/<%= listing._id%>/edit"><button class="editbtn">Edit</button></a>
                <form method="post" action="/listings/<%=listing._id%>?_method=delete">
                    <button class="delbtn">Delete</button>
                </form> </div>
        </div>
    </div>
    <b><hr></b>
    <div class="reviews  row-2 col-8 offset-3">
        <h3>Leave a Comment</h3>
        <form method="post" action="/listings/<%=listing._id%>/reviews" novalidate class=" me-5 needs-validation">
            <div>
                <label for="rating" class="form-label">Rating</label> 
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range"> 
            </div>
            <div>
                <label for="comment" class="form-label">Comment</label> 
                <textarea name="review[comment]" id="comment" cols="20" rows="7" class="form-control mb-2" required></textarea>
                <div class="invalid-feedback">Comment is required</div>
            </div>
            <button class="addbtn rewbtn">Submit</button>
        </form>
                                         <hr>
<div class="row revbox me-4 mb-3">
  <% for (review of listing.reviews) { %>
    <div class="rev-card col-12 col-md-6 col-lg-6 mt-3 mb-4">
        <div class="me-4 mb-3">
       <div class="card-body ">
        <h5 class="card-title">Jane Doe</h5>
        <p class="card-text"><%= review.comment %></p>
        <p class="card-text"><%= review.rating %></p>
      </div>
      <div>
        <form class="mb-3" method="post" action="/listings/<%=listing._id%>/reviews/<%= review._id %>?_method=delete">
          <button class="btn btn-small btn-dark">Delete</button>
        </form>
      </div>
        </div>
     
    </div>
  <% } %>
</div>

</div>
       
</body>